header {
    border-bottom: 1px solid #000000;
    padding-bottom: 8px;             
}

.loginPage .main_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginPage .main_top h1 {
    margin-bottom: 0;
}

.loginPage .main_top p {
    margin-top: 0;
}


.loginPage .main_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginPage .main_main_id_pw{
    display: flex;
    flex-direction: column;
}

.loginPage .main_main_password{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
