.informPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.informPage .row_inform_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informPage .row_inform{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.informPage .row_inform_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.informPage .row_site_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;  
    border-radius: 8px;
}

.informPage .row_site_tilte{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.informPage .row_site_link{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}