main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_top{
    display: flex;
    flex-direction: row;
}
.fileBtn{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.file_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}