main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultBtn{
    display: flex;
    flex-direction: row;
}

.result_main{
    border: 1px solid #000000;  
    border-radius: 8px;
}

.saveAndShareBtn{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}