.mypwPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.mypwPage h1{
    display: flex;
    align-self: flex-start;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 50px;
    margin-left: 20px;
}

.mypwPage .main_main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 20px;
}

.mypwPage label{
    margin-top: 10px;
}

.mypwPage .main_bottom{
    display: flex;
    flex-direction: row;
    margin-top: 300px;
}

.mypwPage .main_bottom button{
    width: 180px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #64748B;
    border-radius: 10px;
    font-size: 14px;
}

.mypwPage .save_btn {
    color: #006AFF;
}

.mypwPage .icon{
    margin-right: 5px;
}
