header{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border: 1px solid #000000;  
    border-radius: 8px;
}

.main_main_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_btm{
    display: flex;
    flex-direction: row;
}