.ocrPage .main_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border: 1px solid #000000;  
    border-radius: 8px;
}

.ocrPage .main_main_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ocrPage .main_btm{
    display: flex;
    flex-direction: row;
}

.ocrPage .main_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}