.signPage .main_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signPage .main_top h1 {
    margin-bottom: 0;
}

.signPage .main_top p {
    margin-top: 0;
}

.signPage .main_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signPage .form_row {
    display: flex;
    flex-direction: column;
}

.signPage .main_bottom{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
