.home_logo {
    display: flex;
    align-items: center;
    width: 100%;
}


.home_logo .logoText {
    margin: 0 auto; 
}

.home_logo .profileBtn,
.home_logo .hamburgerBtn {
    margin-left: 8px;
}

.homePage{
    display: flex;
    flex-direction: column;
}
.homePage p{
    margin-bottom: 0px;
    margin-top: 10px;
}
.homePage span{
    display: inline-block;
    margin-bottom: 10px;
}

.homePage .pageBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homePage .main_myFile{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.homePage .main_OCRPicture{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.homePage .main_law{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.homePage .pageBtnText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
